quarter1/Investment 400/feds200628/Yields_Parameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.federalreserve.gov/structure/compact/Yields_Parameters"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xmlns="http://www.federalreserve.gov/structure/compact/Yields_Parameters"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:frb="http://www.federalreserve.gov/structure/compact/common">
    <xs:import namespace="http://www.federalreserve.gov/structure/compact/common" schemaLocation="frb_common.xsd"/>

    <xs:element name="Series" type="SeriesType" substitutionGroup="frb:Series"/>
    <xs:complexType name="SeriesType">
        <xs:complexContent>
            <xs:extension base="frb:SeriesType">
                <xs:attribute name="Parameter" type="CL_Parameters" use="required"/>
                <xs:attribute name="BT" type="CL_BT" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="CL_Parameters">
        <xs:restriction base="xs:string">
          <xs:enumeration value="B0">
              <xs:annotation>
                  <xs:documentation>Beta0</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="B1">
              <xs:annotation>
                  <xs:documentation>Beta1</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="B2">
              <xs:annotation>
                  <xs:documentation>Beta2</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="B3">
              <xs:annotation>
                  <xs:documentation>Beta3</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="T1">
              <xs:annotation>
                  <xs:documentation>Tau1</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="T2">
              <xs:annotation>
                  <xs:documentation>Tau2</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CL_BT">
        <xs:restriction base="xs:string">
          <xs:enumeration value="TIPS">
              <xs:annotation>
                  <xs:documentation>TIPS Yield</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="IC">
              <xs:annotation>
                  <xs:documentation>Inflation Compensation</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Nominal">
              <xs:annotation>
                  <xs:documentation>Nominal yield</xs:documentation>
              </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
